.error-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error-title {
  font-size: 36px;
  color: #ff0000;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
